#####################################################################
# Include Config Files
#####################################################################
[include mainsail.cfg]
[include timelapse.cfg]
[include ./Hardware/*.cfg]
[include ./Klipper Macros/*.cfg]
[include ./LED/*.cfg]

#####################################################################
# Mainsail.cfg Client Variables
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 55.0  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 358.0 ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 60.0  ; unretract speed in mm/s
variable_speed_hop        : 25.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : False  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 55.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 358.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_use_fw_retract   : True  ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 1800  ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
gcode:

#####################################################################
# VIRTUAL SD CARD
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
# VARIABLES
#####################################################################

[save_variables]
filename: ~/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg

#####################################################################
# EXCLUDE OBJECTS
#####################################################################

# The [exclude_object] module allows Klipper to exclude objects
# while a print is in progress. 

[exclude_object]

[gcode_macro EXCLUDE_OBJECTS]
gcode:
  {% set OBJECT = params.OBJECT|default() %}
  EXCLUDE_OBJECT NAME="{OBJECT}"

#####################################################################
# ARC SUPPORT
#####################################################################

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#####################################################################
# IDLE TIMEOUT
#####################################################################

[idle_timeout]
timeout: 1800
gcode:
  {% if printer.pause_resume.is_paused %}
    {action_respond_info("Extruder powered down on idle timeout.")}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=saved_extruder_temp VALUE="{printer[printer.toolhead.extruder].target}"
    M104; Turn off extruder but leave the bed on.
  {% else %}
    TURN_OFF_HEATERS
    M107; turn off fan
  {% endif %}

#####################################################################
# PAUSE
#####################################################################

[pause_resume]
recover_velocity: 50

#####################################################################
# RESPOND
#####################################################################

[respond]
default_type: echo
#default_type: command
#default_type: error

#####################################################################
# FORCE MOVE
#####################################################################

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.
[gcode_macro UNSAFE_MOVE_Z_UP]
description: ¡!--CAUTION--¡! Move the Z axis up (away from bed) without homing. Setup for v2.4
gcode:
    {% set MOVE_UP = params.UP_mm|default(10)|float %}
    G90
    SET_KINEMATIC_POSITION Z=-{MOVE_UP}
    G0 Z0 F300

[gcode_macro UNSAFE_MOVE_Z_DOWN]
description: ¡!--CAUTION--¡! Move the Z axis down (toward the bed) without homing. Setup for v2.4
gcode:
    {% set MOVE_DOWN = params.DOWN_mm|default(10)|float %}
    G90
    SET_KINEMATIC_POSITION Z={MOVE_DOWN}
    G0 Z0 F300

[gcode_macro LOAD_FILAMENT_INTO_EXTRUDER_GEARS]
gcode:
  FORCE_MOVE STEPPER=extruder DISTANCE=25 VELOCITY=50 ACCEL=300

#####################################################################
# HOME AXIS AT STARTUP
#####################################################################

[gcode_macro START_HOMEING]
description: Use with a delayed gcode or change this macro to 
                  "[delayed_gcode START_HOMEING]
                   initial_duration: 1.0"
gcode:
  SET_DISPLAY_TEXT MSG="Homing"
  STATUS_HOMING
  G28
  STATUS_READY
  
#####################################################################
# SAFE Z HOME
#####################################################################

[safe_z_home]
home_xy_position: 177.5, 177.5
speed: 100
z_hop: 10
z_hop_speed: 15
move_to_previous: false

#####################################################################
# QGL
#####################################################################

[quad_gantry_level]

gantry_corners:
   -50,-4
   410,425
   
points:
   22,1
   22,310
   337,310
   337,1

speed: 120
horizontal_move_z: 3
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

[gcode_macro QGL]
description: safer and faster QGL for Cartographer and Beacon probes
gcode:
  {% if printer.toolhead.homed_axes != 'xyz' %}
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True
	  STATUS_HOMING   ; Sets SB-leds to homing-mode
    G28							; Home All Axes
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False
	{% endif %}
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=True
  STATUS_CALIBRATING_Z
  QUAD_GANTRY_LEVEL horizontal_move_z=10 retries=3 retry_tolerance=1.000
  QUAD_GANTRY_LEVEL horizontal_move_z=3
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=False
  G28 Z
  STATUS_READY
  
#####################################################################
# BED MESH PARAMETERS
#####################################################################

[bed_mesh]
speed: 120
horizontal_move_z: 3
mesh_min: 15, 22
mesh_max: 350, 325
probe_count: 13, 13
#mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
adaptive_margin: 10

#####################################################################
# SKEW CORRECTION
#####################################################################

[skew_correction]

[gcode_macro SET_SKEW_PROFILE]
description: 
gcode:
  {% set SET = params.SKEW_SET|default() %}
  SET_SKEW XY="{SET}"

[gcode_macro SAVE_SKEW_PROFILE]
description: 
gcode:
  {% set SAVE = params.SKEW_SAVE|default(skew_profile_1) %}
  SKEW_PROFILE SAVE="{SAVE}"

[gcode_macro LOAD_SKEW_PROFILE]
description: 
gcode:
  {% set LOAD = params.SKEW_LOAD|default(skew_profile_1) %}
  SKEW_PROFILE LOAD="{LOAD}"

[gcode_macro REMOVE_SKEW_PROFILE]
description: 
gcode:
  {% set REMOVE = params.SKEW_REMOVE|default(skew_profile_1) %}
  SKEW_PROFILE REMOVE="{REMOVE}"

#####################################################################
# INPUT SHAPER
#####################################################################

[input_shaper]
#shaper_freq_x = 44.2
#shaper_type_x = ei
#shaper_freq_y = 38.2
#shaper_type_y = ei

#####################################################################
# SAVE CONFIG
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_freq_x = 128.2
#*# shaper_type_x = zv
#*# shaper_freq_y = 35.8
#*# shaper_type_y = ei
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.328
#*# pid_ki = 1.992
#*# pid_kd = 235.597
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.932
#*# pid_ki = 1.603
#*# pid_kd = 113.115
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.025618, -0.026460, -0.026747, -0.027707, -0.028630, -0.028789, -0.030302, -0.032683, -0.036081, -0.040240, -0.043876, -0.047913, -0.051586
#*# 	  -0.023620, -0.023778, -0.024558, -0.026095, -0.026767, -0.027876, -0.028939, -0.031635, -0.034756, -0.038267, -0.041893, -0.045833, -0.050639
#*# 	  -0.024421, -0.025052, -0.024537, -0.025990, -0.026671, -0.027641, -0.029085, -0.031450, -0.033274, -0.037909, -0.041186, -0.045822, -0.049753
#*# 	  -0.026059, -0.026113, -0.026481, -0.026802, -0.027480, -0.028650, -0.030156, -0.032940, -0.036061, -0.039157, -0.043023, -0.047132, -0.050409
#*# 	  -0.025749, -0.024996, -0.025973, -0.026114, -0.027598, -0.027798, -0.029467, -0.031365, -0.033954, -0.039641, -0.042507, -0.046825, -0.050802
#*# 	  -0.025422, -0.025165, -0.025767, -0.025845, -0.027382, -0.028078, -0.030202, -0.031587, -0.034745, -0.037922, -0.042385, -0.046343, -0.050692
#*# 	  -0.024670, -0.024313, -0.024700, -0.024241, -0.025731, -0.027210, -0.028779, -0.031706, -0.034569, -0.038302, -0.042171, -0.046197, -0.051317
#*# 	  -0.023493, -0.023215, -0.023090, -0.022765, -0.023230, -0.025976, -0.027588, -0.030009, -0.033971, -0.037733, -0.040728, -0.046224, -0.050734
#*# 	  -0.022468, -0.021933, -0.022468, -0.022763, -0.023453, -0.026088, -0.027493, -0.030356, -0.032404, -0.037302, -0.040328, -0.045761, -0.050102
#*# 	  -0.024090, -0.023321, -0.024294, -0.024614, -0.025342, -0.027170, -0.028708, -0.031445, -0.034512, -0.038681, -0.041734, -0.045983, -0.051654
#*# 	  -0.022845, -0.021625, -0.021735, -0.021829, -0.023159, -0.025599, -0.026813, -0.029598, -0.032487, -0.037036, -0.041049, -0.044451, -0.050044
#*# 	  -0.016210, -0.015546, -0.015460, -0.015784, -0.016894, -0.018923, -0.021666, -0.024554, -0.028360, -0.031802, -0.036061, -0.039828, -0.045488
#*# 	  -0.011962, -0.011517, -0.012005, -0.011879, -0.013391, -0.015546, -0.018527, -0.021655, -0.024534, -0.028179, -0.032341, -0.036582, -0.041610
#*# x_count = 13
#*# y_count = 13
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 234.882
#*# max_x = 265.843
#*# min_y = 262.165
#*# max_y = 290.406
#*#
#*# [cartographer model default]
#*# model_coef = 1.3344631115942867,
#*# 	1.752577751239009,
#*# 	0.7268610219738031,
#*# 	0.3031584254377825,
#*# 	0.5458862648395869,
#*# 	0.6806475042814254,
#*# 	-0.4937370487347826,
#*# 	-0.7329941260846504,
#*# 	0.4365545586549629,
#*# 	0.4478698685679867
#*# model_domain = 3.1866226219631875e-07,3.3709960132171556e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 44.309239
#*# model_offset = 0.24000
#*#
#*# [skew_correction skew_profile_1]
#*# xy_skew = -0.004463517239802055
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction skew_profile_2]
#*# xy_skew = -0.0031886706954110085
#*# xz_skew = 0.0
#*# yz_skew = 0.0
